
# environment
.venv/
.uv-bin/

__pycache__/

# data
*.onnx
*.pb.gz

# model outputs
chess_model/
gpt_chess/chess_model/
models/
eval_results/
*.gguf
outputs/
wandb/

.env

# lsp
pyrightconfig.json

# for Macs 
.DS_Store

*.egg-info
